@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);








body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oxygen', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oxygen', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oxygen', sans-serif;
}
.mbr-author-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oxygen', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #c0a375 !important;
}
.bg-info {
  background-color: #c0a375 !important;
}
.bg-warning {
  background-color: #c0a375 !important;
}
.bg-danger {
  background-color: #c0a375 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-info {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-success {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-warning {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-danger {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-info-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-success-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #c0a375 !important;
}
.text-info {
  color: #c0a375 !important;
}
.text-warning {
  color: #c0a375 !important;
}
.text-danger {
  color: #c0a375 !important;
}
.alert-success {
  background-color: #c0a375;
}
.alert-info {
  background-color: #c0a375;
}
.alert-warning {
  background-color: #c0a375;
}
.alert-danger {
  background-color: #c0a375;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#header1-42 .mbr-section-title {
  font-family: 'Slabo 27px', serif;
  text-align: center;
  font-size: 100px;
  color: #ffffff;
}
#header3-6g .mbr-section-title,
#header3-6g .mbr-section-subtitle {
  text-align: center;
}
#header3-6g H3 {
  text-align: right;
  font-family: 'Slabo 27px', serif;
  font-size: 36px;
  color: #000000;
}
#content8-6u .mbr-section-title,
#content8-6u p {
  text-align: right;
  color: #fff;
}
#contacts5-6a p,
#contacts5-6a .list-group-text,
#contacts5-6a .form-control-label {
  color: #000;
}
#contacts5-6a strong,
#contacts5-6a h4 {
  color: #7e9b9f;
}
#contacts5-6a form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-6a .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-6a .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-6a LI {
  color: #000000;
}
#contacts5-6a H4 {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#contacts5-6a STRONG {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#menu-1q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1q .navbar-caption {
  color: #ffffff;
}
#menu-1q .navbar-toggler {
  color: #000000;
}
#menu-1q .close-icon::before,
#menu-1q .close-icon::after {
  background-color: #000000;
}
#menu-1q .link,
#menu-1q .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-1q .link {
  font-size: 0.85rem;
}
#menu-1q .dropdown-item,
#menu-1q .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-1q .link:hover,
#menu-1q .dropdown-item:hover,
#menu-1q .link:focus,
#menu-1q .dropdown-item:focus {
  color: #c0a375;
}
#menu-1q .link[aria-expanded="true"],
#menu-1q .dropdown-menu {
  background: #e6e6e6;
}
#menu-1q .nav-dropdown-sm .link:focus,
#menu-1q .nav-dropdown-sm .link:hover,
#menu-1q .nav-dropdown-sm .dropdown-item:focus,
#menu-1q .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1q .navbar,
#menu-1q .nav-dropdown-sm,
#menu-1q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1q .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1q .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-1q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1q .bg-color.transparent.opened .link:hover,
#menu-1q .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1q .link[aria-expanded="true"],
#menu-1q .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}







#menu-5c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5c .navbar-caption {
  color: #ffffff;
}
#menu-5c .navbar-toggler {
  color: #000000;
}
#menu-5c .close-icon::before,
#menu-5c .close-icon::after {
  background-color: #000000;
}
#menu-5c .link,
#menu-5c .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-5c .link {
  font-size: 0.85rem;
}
#menu-5c .dropdown-item,
#menu-5c .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-5c .link:hover,
#menu-5c .dropdown-item:hover,
#menu-5c .link:focus,
#menu-5c .dropdown-item:focus {
  color: #c0a375;
}
#menu-5c .link[aria-expanded="true"],
#menu-5c .dropdown-menu {
  background: #e6e6e6;
}
#menu-5c .nav-dropdown-sm .link:focus,
#menu-5c .nav-dropdown-sm .link:hover,
#menu-5c .nav-dropdown-sm .dropdown-item:focus,
#menu-5c .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-5c .navbar,
#menu-5c .nav-dropdown-sm,
#menu-5c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5c .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-5c .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-5c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5c .bg-color.transparent.opened .link:hover,
#menu-5c .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-5c .link[aria-expanded="true"],
#menu-5c .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-5n .mbr-section-title,
#header3-5n .mbr-section-subtitle {
  text-align: center;
}
#header3-5n H3 {
  color: #ffffff;
}
#msg-box8-6x .mbr-section-title,
#msg-box8-6x p {
  color: #fff;
}
#msg-box8-6x .mbr-section-title {
  font-family: 'Slabo 27px', serif;
}
#msg-box8-6x .lead P {
  font-family: 'Slabo 27px', serif;
}
#testimonials1-4j .card-footer > small {
  color: #565656;
  font-family: 'Slabo 27px', serif;
}
#testimonials1-4j .card-block P {
  font-size: 17px;
  color: #232323;
}
#testimonials1-4j .card-footer > div {
  color: #2d2d2d;
  font-family: 'Slabo 27px', serif;
}
#contacts5-6a p,
#contacts5-6a .list-group-text,
#contacts5-6a .form-control-label {
  color: #000;
}
#contacts5-6a strong,
#contacts5-6a h4 {
  color: #7e9b9f;
}
#contacts5-6a form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-6a .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-6a .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-6a LI {
  color: #000000;
}
#contacts5-6a H4 {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#contacts5-6a STRONG {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}




#header3-5o .mbr-section-title,
#header3-5o .mbr-section-subtitle {
  text-align: center;
}
#header3-5o H3 {
  color: #ffffff;
}
#menu-4d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4d .navbar-caption {
  color: #ffffff;
}
#menu-4d .navbar-toggler {
  color: #000000;
}
#menu-4d .close-icon::before,
#menu-4d .close-icon::after {
  background-color: #000000;
}
#menu-4d .link,
#menu-4d .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-4d .link {
  font-size: 0.85rem;
}
#menu-4d .dropdown-item,
#menu-4d .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-4d .link:hover,
#menu-4d .dropdown-item:hover,
#menu-4d .link:focus,
#menu-4d .dropdown-item:focus {
  color: #c0a375;
}
#menu-4d .link[aria-expanded="true"],
#menu-4d .dropdown-menu {
  background: #e6e6e6;
}
#menu-4d .nav-dropdown-sm .link:focus,
#menu-4d .nav-dropdown-sm .link:hover,
#menu-4d .nav-dropdown-sm .dropdown-item:focus,
#menu-4d .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4d .navbar,
#menu-4d .nav-dropdown-sm,
#menu-4d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4d .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4d .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-4d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4d .bg-color.transparent.opened .link:hover,
#menu-4d .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4d .link[aria-expanded="true"],
#menu-4d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#form1-3q .form-control-label {
  color: #ffffff;
}
#form1-3q .mbr-section-title {
  font-family: 'Slabo 27px', serif;
  font-size: 36px;
  color: #ffffff;
}
#contacts5-6a p,
#contacts5-6a .list-group-text,
#contacts5-6a .form-control-label {
  color: #000;
}
#contacts5-6a strong,
#contacts5-6a h4 {
  color: #7e9b9f;
}
#contacts5-6a form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-6a .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-6a .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-6a LI {
  color: #000000;
}
#contacts5-6a H4 {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#contacts5-6a STRONG {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}



#menu-4d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4d .navbar-caption {
  color: #ffffff;
}
#menu-4d .navbar-toggler {
  color: #000000;
}
#menu-4d .close-icon::before,
#menu-4d .close-icon::after {
  background-color: #000000;
}
#menu-4d .link,
#menu-4d .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-4d .link {
  font-size: 0.85rem;
}
#menu-4d .dropdown-item,
#menu-4d .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-4d .link:hover,
#menu-4d .dropdown-item:hover,
#menu-4d .link:focus,
#menu-4d .dropdown-item:focus {
  color: #c0a375;
}
#menu-4d .link[aria-expanded="true"],
#menu-4d .dropdown-menu {
  background: #e6e6e6;
}
#menu-4d .nav-dropdown-sm .link:focus,
#menu-4d .nav-dropdown-sm .link:hover,
#menu-4d .nav-dropdown-sm .dropdown-item:focus,
#menu-4d .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4d .navbar,
#menu-4d .nav-dropdown-sm,
#menu-4d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4d .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4d .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-4d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4d .bg-color.transparent.opened .link:hover,
#menu-4d .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4d .link[aria-expanded="true"],
#menu-4d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts5-6a p,
#contacts5-6a .list-group-text,
#contacts5-6a .form-control-label {
  color: #000;
}
#contacts5-6a strong,
#contacts5-6a h4 {
  color: #7e9b9f;
}
#contacts5-6a form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-6a .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-6a .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-6a LI {
  color: #000000;
}
#contacts5-6a H4 {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#contacts5-6a STRONG {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}



#contacts5-6a p,
#contacts5-6a .list-group-text,
#contacts5-6a .form-control-label {
  color: #000;
}
#contacts5-6a strong,
#contacts5-6a h4 {
  color: #7e9b9f;
}
#contacts5-6a form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-6a .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-6a .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-6a LI {
  color: #000000;
}
#contacts5-6a H4 {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#contacts5-6a STRONG {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#menu-45 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-45 .navbar-caption {
  color: #ffffff;
}
#menu-45 .navbar-toggler {
  color: #000000;
}
#menu-45 .close-icon::before,
#menu-45 .close-icon::after {
  background-color: #000000;
}
#menu-45 .link,
#menu-45 .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-45 .link {
  font-size: 0.85rem;
}
#menu-45 .dropdown-item,
#menu-45 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-45 .link:hover,
#menu-45 .dropdown-item:hover,
#menu-45 .link:focus,
#menu-45 .dropdown-item:focus {
  color: #c0a375;
}
#menu-45 .link[aria-expanded="true"],
#menu-45 .dropdown-menu {
  background: #e6e6e6;
}
#menu-45 .nav-dropdown-sm .link:focus,
#menu-45 .nav-dropdown-sm .link:hover,
#menu-45 .nav-dropdown-sm .dropdown-item:focus,
#menu-45 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-45 .navbar,
#menu-45 .nav-dropdown-sm,
#menu-45 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-45 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-45 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-45 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-45 .bg-color.transparent.opened .link:hover,
#menu-45 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-45 .link[aria-expanded="true"],
#menu-45 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}





#header3-5r .mbr-section-title,
#header3-5r .mbr-section-subtitle {
  text-align: center;
}
#header3-5r H3 {
  text-align: right;
  font-family: 'Oxygen', sans-serif;
  font-size: 46px;
  color: #ffffff;
}
#msg-box8-6y .mbr-section-title,
#msg-box8-6y p {
  color: #fff;
}
#msg-box8-6y .mbr-section-title {
  font-family: 'Slabo 27px', serif;
}
#menu-45 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-45 .navbar-caption {
  color: #ffffff;
}
#menu-45 .navbar-toggler {
  color: #000000;
}
#menu-45 .close-icon::before,
#menu-45 .close-icon::after {
  background-color: #000000;
}
#menu-45 .link,
#menu-45 .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-45 .link {
  font-size: 0.85rem;
}
#menu-45 .dropdown-item,
#menu-45 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-45 .link:hover,
#menu-45 .dropdown-item:hover,
#menu-45 .link:focus,
#menu-45 .dropdown-item:focus {
  color: #c0a375;
}
#menu-45 .link[aria-expanded="true"],
#menu-45 .dropdown-menu {
  background: #e6e6e6;
}
#menu-45 .nav-dropdown-sm .link:focus,
#menu-45 .nav-dropdown-sm .link:hover,
#menu-45 .nav-dropdown-sm .dropdown-item:focus,
#menu-45 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-45 .navbar,
#menu-45 .nav-dropdown-sm,
#menu-45 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-45 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-45 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-45 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-45 .bg-color.transparent.opened .link:hover,
#menu-45 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-45 .link[aria-expanded="true"],
#menu-45 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts5-6a p,
#contacts5-6a .list-group-text,
#contacts5-6a .form-control-label {
  color: #000;
}
#contacts5-6a strong,
#contacts5-6a h4 {
  color: #7e9b9f;
}
#contacts5-6a form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-6a .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-6a .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-6a LI {
  color: #000000;
}
#contacts5-6a H4 {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#contacts5-6a STRONG {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}



#menu-45 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-45 .navbar-caption {
  color: #ffffff;
}
#menu-45 .navbar-toggler {
  color: #000000;
}
#menu-45 .close-icon::before,
#menu-45 .close-icon::after {
  background-color: #000000;
}
#menu-45 .link,
#menu-45 .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-45 .link {
  font-size: 0.85rem;
}
#menu-45 .dropdown-item,
#menu-45 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-45 .link:hover,
#menu-45 .dropdown-item:hover,
#menu-45 .link:focus,
#menu-45 .dropdown-item:focus {
  color: #c0a375;
}
#menu-45 .link[aria-expanded="true"],
#menu-45 .dropdown-menu {
  background: #e6e6e6;
}
#menu-45 .nav-dropdown-sm .link:focus,
#menu-45 .nav-dropdown-sm .link:hover,
#menu-45 .nav-dropdown-sm .dropdown-item:focus,
#menu-45 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-45 .navbar,
#menu-45 .nav-dropdown-sm,
#menu-45 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-45 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-45 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-45 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-45 .bg-color.transparent.opened .link:hover,
#menu-45 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-45 .link[aria-expanded="true"],
#menu-45 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts5-6a p,
#contacts5-6a .list-group-text,
#contacts5-6a .form-control-label {
  color: #000;
}
#contacts5-6a strong,
#contacts5-6a h4 {
  color: #7e9b9f;
}
#contacts5-6a form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-6a .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-6a .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-6a LI {
  color: #000000;
}
#contacts5-6a H4 {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#contacts5-6a STRONG {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}




#menu-5s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5s .navbar-caption {
  color: #ffffff;
}
#menu-5s .navbar-toggler {
  color: #000000;
}
#menu-5s .close-icon::before,
#menu-5s .close-icon::after {
  background-color: #000000;
}
#menu-5s .link,
#menu-5s .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-5s .link {
  font-size: 0.85rem;
}
#menu-5s .dropdown-item,
#menu-5s .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-5s .link:hover,
#menu-5s .dropdown-item:hover,
#menu-5s .link:focus,
#menu-5s .dropdown-item:focus {
  color: #c0a375;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-menu {
  background: #e6e6e6;
}
#menu-5s .nav-dropdown-sm .link:focus,
#menu-5s .nav-dropdown-sm .link:hover,
#menu-5s .nav-dropdown-sm .dropdown-item:focus,
#menu-5s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-5s .navbar,
#menu-5s .nav-dropdown-sm,
#menu-5s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5s .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-5s .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-5s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5s .bg-color.transparent.opened .link:hover,
#menu-5s .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-5w .mbr-section-title,
#header3-5w .mbr-section-subtitle {
  text-align: center;
}
#header3-5w H3 {
  color: #ffffff;
}
#msg-box8-6z .mbr-section-title,
#msg-box8-6z p {
  color: #fff;
}
#msg-box8-6z .mbr-section-title {
  font-family: 'Slabo 27px', serif;
}
#contacts5-6a p,
#contacts5-6a .list-group-text,
#contacts5-6a .form-control-label {
  color: #000;
}
#contacts5-6a strong,
#contacts5-6a h4 {
  color: #7e9b9f;
}
#contacts5-6a form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-6a .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-6a .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-6a LI {
  color: #000000;
}
#contacts5-6a H4 {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#contacts5-6a STRONG {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}




#menu-5s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5s .navbar-caption {
  color: #ffffff;
}
#menu-5s .navbar-toggler {
  color: #000000;
}
#menu-5s .close-icon::before,
#menu-5s .close-icon::after {
  background-color: #000000;
}
#menu-5s .link,
#menu-5s .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-5s .link {
  font-size: 0.85rem;
}
#menu-5s .dropdown-item,
#menu-5s .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-5s .link:hover,
#menu-5s .dropdown-item:hover,
#menu-5s .link:focus,
#menu-5s .dropdown-item:focus {
  color: #c0a375;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-menu {
  background: #e6e6e6;
}
#menu-5s .nav-dropdown-sm .link:focus,
#menu-5s .nav-dropdown-sm .link:hover,
#menu-5s .nav-dropdown-sm .dropdown-item:focus,
#menu-5s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-5s .navbar,
#menu-5s .nav-dropdown-sm,
#menu-5s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5s .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-5s .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-5s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5s .bg-color.transparent.opened .link:hover,
#menu-5s .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-62 .mbr-section-title,
#header3-62 .mbr-section-subtitle {
  text-align: center;
}
#header3-62 H3 {
  color: #ffffff;
}
#msg-box8-70 .mbr-section-title,
#msg-box8-70 p {
  color: #fff;
}
#msg-box8-70 .mbr-section-title {
  font-family: 'Slabo 27px', serif;
}
#contacts5-6a p,
#contacts5-6a .list-group-text,
#contacts5-6a .form-control-label {
  color: #000;
}
#contacts5-6a strong,
#contacts5-6a h4 {
  color: #7e9b9f;
}
#contacts5-6a form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-6a .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-6a .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-6a LI {
  color: #000000;
}
#contacts5-6a H4 {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#contacts5-6a STRONG {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}




#menu-5s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5s .navbar-caption {
  color: #ffffff;
}
#menu-5s .navbar-toggler {
  color: #000000;
}
#menu-5s .close-icon::before,
#menu-5s .close-icon::after {
  background-color: #000000;
}
#menu-5s .link,
#menu-5s .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-5s .link {
  font-size: 0.85rem;
}
#menu-5s .dropdown-item,
#menu-5s .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-5s .link:hover,
#menu-5s .dropdown-item:hover,
#menu-5s .link:focus,
#menu-5s .dropdown-item:focus {
  color: #c0a375;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-menu {
  background: #e6e6e6;
}
#menu-5s .nav-dropdown-sm .link:focus,
#menu-5s .nav-dropdown-sm .link:hover,
#menu-5s .nav-dropdown-sm .dropdown-item:focus,
#menu-5s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-5s .navbar,
#menu-5s .nav-dropdown-sm,
#menu-5s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5s .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-5s .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-5s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5s .bg-color.transparent.opened .link:hover,
#menu-5s .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-63 .mbr-section-title,
#header3-63 .mbr-section-subtitle {
  text-align: center;
}
#header3-63 H3 {
  color: #ffffff;
}
#msg-box8-71 .mbr-section-title,
#msg-box8-71 p {
  color: #fff;
}
#msg-box8-71 .mbr-section-title {
  font-family: 'Slabo 27px', serif;
}
#contacts5-6a p,
#contacts5-6a .list-group-text,
#contacts5-6a .form-control-label {
  color: #000;
}
#contacts5-6a strong,
#contacts5-6a h4 {
  color: #7e9b9f;
}
#contacts5-6a form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-6a .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-6a .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-6a LI {
  color: #000000;
}
#contacts5-6a H4 {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#contacts5-6a STRONG {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}




#menu-59 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-59 .navbar-caption {
  color: #ffffff;
}
#menu-59 .navbar-toggler {
  color: #000000;
}
#menu-59 .close-icon::before,
#menu-59 .close-icon::after {
  background-color: #000000;
}
#menu-59 .link,
#menu-59 .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-59 .link {
  font-size: 0.85rem;
}
#menu-59 .dropdown-item,
#menu-59 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-59 .link:hover,
#menu-59 .dropdown-item:hover,
#menu-59 .link:focus,
#menu-59 .dropdown-item:focus {
  color: #c0a375;
}
#menu-59 .link[aria-expanded="true"],
#menu-59 .dropdown-menu {
  background: #e6e6e6;
}
#menu-59 .nav-dropdown-sm .link:focus,
#menu-59 .nav-dropdown-sm .link:hover,
#menu-59 .nav-dropdown-sm .dropdown-item:focus,
#menu-59 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-59 .navbar,
#menu-59 .nav-dropdown-sm,
#menu-59 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-59 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-59 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-59 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-59 .bg-color.transparent.opened .link:hover,
#menu-59 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-59 .link[aria-expanded="true"],
#menu-59 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-64 .mbr-section-title,
#header3-64 .mbr-section-subtitle {
  text-align: center;
}
#header3-64 H3 {
  color: #ffffff;
}
#msg-box8-72 .mbr-section-title,
#msg-box8-72 p {
  color: #fff;
}
#msg-box8-72 .mbr-section-title {
  font-family: 'Slabo 27px', serif;
}
#contacts5-6a p,
#contacts5-6a .list-group-text,
#contacts5-6a .form-control-label {
  color: #000;
}
#contacts5-6a strong,
#contacts5-6a h4 {
  color: #7e9b9f;
}
#contacts5-6a form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-6a .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-6a .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-6a LI {
  color: #000000;
}
#contacts5-6a H4 {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#contacts5-6a STRONG {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}








#menu-5c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5c .navbar-caption {
  color: #ffffff;
}
#menu-5c .navbar-toggler {
  color: #000000;
}
#menu-5c .close-icon::before,
#menu-5c .close-icon::after {
  background-color: #000000;
}
#menu-5c .link,
#menu-5c .dropdown-item {
  color: #000000;
  font-family: 'Arimo', sans-serif;
}
#menu-5c .link {
  font-size: 0.85rem;
}
#menu-5c .dropdown-item,
#menu-5c .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-5c .link:hover,
#menu-5c .dropdown-item:hover,
#menu-5c .link:focus,
#menu-5c .dropdown-item:focus {
  color: #c0a375;
}
#menu-5c .link[aria-expanded="true"],
#menu-5c .dropdown-menu {
  background: #e6e6e6;
}
#menu-5c .nav-dropdown-sm .link:focus,
#menu-5c .nav-dropdown-sm .link:hover,
#menu-5c .nav-dropdown-sm .dropdown-item:focus,
#menu-5c .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-5c .navbar,
#menu-5c .nav-dropdown-sm,
#menu-5c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5c .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-5c .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-5c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5c .bg-color.transparent.opened .link:hover,
#menu-5c .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-5c .link[aria-expanded="true"],
#menu-5c .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-6p .mbr-section-title,
#msg-box8-6p p {
  color: #fff;
}
#msg-box8-6p .mbr-section-title {
  font-family: 'Slabo 27px', serif;
}
#msg-box5-6h H3 {
  font-family: 'Slabo 27px', serif;
  font-size: 36px;
  text-align: center;
}
#msg-box5-6h P {
  font-size: 16px;
}
#msg-box8-6v .mbr-section-title,
#msg-box8-6v p {
  color: #fff;
}
#msg-box8-6v .mbr-section-title {
  font-family: 'Slabo 27px', serif;
}
#features6-5j H4 {
  font-family: 'Slabo 27px', serif;
  font-size: 22px;
}
#features6-5j H5 {
  font-family: 'Slabo 27px', serif;
}
#contacts5-6a p,
#contacts5-6a .list-group-text,
#contacts5-6a .form-control-label {
  color: #000;
}
#contacts5-6a strong,
#contacts5-6a h4 {
  color: #7e9b9f;
}
#contacts5-6a form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-6a .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-6a .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-6a LI {
  color: #000000;
}
#contacts5-6a H4 {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#contacts5-6a STRONG {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}




#menu-5s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5s .navbar-caption {
  color: #ffffff;
}
#menu-5s .navbar-toggler {
  color: #000000;
}
#menu-5s .close-icon::before,
#menu-5s .close-icon::after {
  background-color: #000000;
}
#menu-5s .link,
#menu-5s .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-5s .link {
  font-size: 0.85rem;
}
#menu-5s .dropdown-item,
#menu-5s .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-5s .link:hover,
#menu-5s .dropdown-item:hover,
#menu-5s .link:focus,
#menu-5s .dropdown-item:focus {
  color: #c0a375;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-menu {
  background: #e6e6e6;
}
#menu-5s .nav-dropdown-sm .link:focus,
#menu-5s .nav-dropdown-sm .link:hover,
#menu-5s .nav-dropdown-sm .dropdown-item:focus,
#menu-5s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-5s .navbar,
#menu-5s .nav-dropdown-sm,
#menu-5s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5s .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-5s .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-5s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5s .bg-color.transparent.opened .link:hover,
#menu-5s .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-68 .mbr-section-title,
#header3-68 .mbr-section-subtitle {
  text-align: center;
}
#header3-68 H3 {
  color: #ffffff;
}
#msg-box8-73 .mbr-section-title,
#msg-box8-73 p {
  color: #fff;
}
#msg-box8-73 .mbr-section-title {
  font-family: 'Slabo 27px', serif;
}
#contacts5-6a p,
#contacts5-6a .list-group-text,
#contacts5-6a .form-control-label {
  color: #000;
}
#contacts5-6a strong,
#contacts5-6a h4 {
  color: #7e9b9f;
}
#contacts5-6a form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-6a .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-6a .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-6a LI {
  color: #000000;
}
#contacts5-6a H4 {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#contacts5-6a STRONG {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
