@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);







body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oxygen', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oxygen', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oxygen', sans-serif;
}
.mbr-author-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oxygen', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #7e9b9f !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #fac51c !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-secondary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info {
  background-color: #fac51c;
  border-color: #fac51c;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #c59704;
  border-color: #c59704;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #c59704 !important;
  border-color: #c59704 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline {
  background: none;
  border-color: #ac8404;
  color: #ac8404;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #fac51c;
  border-color: #fac51c;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #fac51c !important;
  border-color: #fac51c !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #7e9b9f !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #fac51c !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #fac51c;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #7e9b9f;
}
.btn-social:hover {
  background: #7e9b9f;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #7e9b9f;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #7e9b9f;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #7e9b9f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #7e9b9f;
}
.lead a,
.lead a:hover {
  color: #7e9b9f;
}
.lead blockquote {
  border-color: #7e9b9f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fef8e4;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #7e9b9f;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#header1-42 .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#menu-1q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1q .navbar-caption {
  color: #ffffff;
}
#menu-1q .navbar-toggler {
  color: #000000;
}
#menu-1q .close-icon::before,
#menu-1q .close-icon::after {
  background-color: #000000;
}
#menu-1q .link,
#menu-1q .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-1q .link {
  font-size: 0.85rem;
}
#menu-1q .dropdown-item,
#menu-1q .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-1q .link:hover,
#menu-1q .dropdown-item:hover,
#menu-1q .link:focus,
#menu-1q .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-1q .link[aria-expanded="true"],
#menu-1q .dropdown-menu {
  background: #e6e6e6;
}
#menu-1q .nav-dropdown-sm .link:focus,
#menu-1q .nav-dropdown-sm .link:hover,
#menu-1q .nav-dropdown-sm .dropdown-item:focus,
#menu-1q .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1q .navbar,
#menu-1q .nav-dropdown-sm,
#menu-1q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1q .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1q .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-1q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1q .bg-color.transparent.opened .link:hover,
#menu-1q .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-1q .link[aria-expanded="true"],
#menu-1q .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#contacts1-9 STRONG {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-9 P {
  color: #000000;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
}




#menu-5c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5c .navbar-caption {
  color: #ffffff;
}
#menu-5c .navbar-toggler {
  color: #000000;
}
#menu-5c .close-icon::before,
#menu-5c .close-icon::after {
  background-color: #000000;
}
#menu-5c .link,
#menu-5c .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-5c .link {
  font-size: 0.85rem;
}
#menu-5c .dropdown-item,
#menu-5c .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-5c .link:hover,
#menu-5c .dropdown-item:hover,
#menu-5c .link:focus,
#menu-5c .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-5c .link[aria-expanded="true"],
#menu-5c .dropdown-menu {
  background: #e6e6e6;
}
#menu-5c .nav-dropdown-sm .link:focus,
#menu-5c .nav-dropdown-sm .link:hover,
#menu-5c .nav-dropdown-sm .dropdown-item:focus,
#menu-5c .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-5c .navbar,
#menu-5c .nav-dropdown-sm,
#menu-5c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5c .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-5c .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-5c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5c .bg-color.transparent.opened .link:hover,
#menu-5c .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-5c .link[aria-expanded="true"],
#menu-5c .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#header3-5n .mbr-section-title,
#header3-5n .mbr-section-subtitle {
  text-align: center;
}
#header3-5n H3 {
  color: #ffffff;
}
#header3-48 .mbr-section-title,
#header3-48 .mbr-section-subtitle {
  text-align: center;
}
#header3-48 H3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 46px;
  color: #ffffff;
}
#header3-48 SMALL {
  color: #efefef;
}
#testimonials1-4j .card-footer > small {
  color: #565656;
}
#testimonials1-4j .card-block P {
  font-size: 17px;
  color: #232323;
}
#testimonials1-4j .card-footer > div {
  color: #2d2d2d;
}
#contacts1-4e STRONG {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-4e P {
  color: #000000;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
}




#header3-5o .mbr-section-title,
#header3-5o .mbr-section-subtitle {
  text-align: center;
}
#header3-5o H3 {
  color: #ffffff;
}
#menu-4d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4d .navbar-caption {
  color: #ffffff;
}
#menu-4d .navbar-toggler {
  color: #000000;
}
#menu-4d .close-icon::before,
#menu-4d .close-icon::after {
  background-color: #000000;
}
#menu-4d .link,
#menu-4d .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-4d .link {
  font-size: 0.85rem;
}
#menu-4d .dropdown-item,
#menu-4d .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-4d .link:hover,
#menu-4d .dropdown-item:hover,
#menu-4d .link:focus,
#menu-4d .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-4d .link[aria-expanded="true"],
#menu-4d .dropdown-menu {
  background: #e6e6e6;
}
#menu-4d .nav-dropdown-sm .link:focus,
#menu-4d .nav-dropdown-sm .link:hover,
#menu-4d .nav-dropdown-sm .dropdown-item:focus,
#menu-4d .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4d .navbar,
#menu-4d .nav-dropdown-sm,
#menu-4d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4d .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4d .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-4d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4d .bg-color.transparent.opened .link:hover,
#menu-4d .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-4d .link[aria-expanded="true"],
#menu-4d .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#form1-3q .form-control-label {
  color: #ffffff;
}
#form1-3q .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
  font-size: 46px;
  color: #ffffff;
}
#contacts1-4e STRONG {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-4e P {
  color: #000000;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
}



#menu-4d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4d .navbar-caption {
  color: #ffffff;
}
#menu-4d .navbar-toggler {
  color: #000000;
}
#menu-4d .close-icon::before,
#menu-4d .close-icon::after {
  background-color: #000000;
}
#menu-4d .link,
#menu-4d .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-4d .link {
  font-size: 0.85rem;
}
#menu-4d .dropdown-item,
#menu-4d .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-4d .link:hover,
#menu-4d .dropdown-item:hover,
#menu-4d .link:focus,
#menu-4d .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-4d .link[aria-expanded="true"],
#menu-4d .dropdown-menu {
  background: #e6e6e6;
}
#menu-4d .nav-dropdown-sm .link:focus,
#menu-4d .nav-dropdown-sm .link:hover,
#menu-4d .nav-dropdown-sm .dropdown-item:focus,
#menu-4d .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4d .navbar,
#menu-4d .nav-dropdown-sm,
#menu-4d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4d .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4d .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-4d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4d .bg-color.transparent.opened .link:hover,
#menu-4d .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-4d .link[aria-expanded="true"],
#menu-4d .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#contacts1-4e STRONG {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-4e P {
  color: #000000;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
}



#menu-45 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-45 .navbar-caption {
  color: #ffffff;
}
#menu-45 .navbar-toggler {
  color: #000000;
}
#menu-45 .close-icon::before,
#menu-45 .close-icon::after {
  background-color: #000000;
}
#menu-45 .link,
#menu-45 .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-45 .link {
  font-size: 0.85rem;
}
#menu-45 .dropdown-item,
#menu-45 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-45 .link:hover,
#menu-45 .dropdown-item:hover,
#menu-45 .link:focus,
#menu-45 .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-45 .link[aria-expanded="true"],
#menu-45 .dropdown-menu {
  background: #e6e6e6;
}
#menu-45 .nav-dropdown-sm .link:focus,
#menu-45 .nav-dropdown-sm .link:hover,
#menu-45 .nav-dropdown-sm .dropdown-item:focus,
#menu-45 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-45 .navbar,
#menu-45 .nav-dropdown-sm,
#menu-45 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-45 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-45 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-45 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-45 .bg-color.transparent.opened .link:hover,
#menu-45 .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-45 .link[aria-expanded="true"],
#menu-45 .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#contacts1-4n STRONG {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-4n P {
  color: #000000;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
}





#header3-5r .mbr-section-title,
#header3-5r .mbr-section-subtitle {
  text-align: center;
}
#header3-5r H3 {
  text-align: right;
  font-family: 'Oxygen', sans-serif;
  font-size: 46px;
  color: #ffffff;
}
#header3-5q .mbr-section-title,
#header3-5q .mbr-section-subtitle {
  text-align: center;
}
#header3-5q H3 {
  text-align: right;
  font-family: 'Oxygen', sans-serif;
  font-size: 46px;
  color: #ffffff;
}
#menu-45 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-45 .navbar-caption {
  color: #ffffff;
}
#menu-45 .navbar-toggler {
  color: #000000;
}
#menu-45 .close-icon::before,
#menu-45 .close-icon::after {
  background-color: #000000;
}
#menu-45 .link,
#menu-45 .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-45 .link {
  font-size: 0.85rem;
}
#menu-45 .dropdown-item,
#menu-45 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-45 .link:hover,
#menu-45 .dropdown-item:hover,
#menu-45 .link:focus,
#menu-45 .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-45 .link[aria-expanded="true"],
#menu-45 .dropdown-menu {
  background: #e6e6e6;
}
#menu-45 .nav-dropdown-sm .link:focus,
#menu-45 .nav-dropdown-sm .link:hover,
#menu-45 .nav-dropdown-sm .dropdown-item:focus,
#menu-45 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-45 .navbar,
#menu-45 .nav-dropdown-sm,
#menu-45 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-45 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-45 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-45 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-45 .bg-color.transparent.opened .link:hover,
#menu-45 .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-45 .link[aria-expanded="true"],
#menu-45 .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#contacts1-4n STRONG {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-4n P {
  color: #000000;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
}



#menu-45 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-45 .navbar-caption {
  color: #ffffff;
}
#menu-45 .navbar-toggler {
  color: #000000;
}
#menu-45 .close-icon::before,
#menu-45 .close-icon::after {
  background-color: #000000;
}
#menu-45 .link,
#menu-45 .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-45 .link {
  font-size: 0.85rem;
}
#menu-45 .dropdown-item,
#menu-45 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-45 .link:hover,
#menu-45 .dropdown-item:hover,
#menu-45 .link:focus,
#menu-45 .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-45 .link[aria-expanded="true"],
#menu-45 .dropdown-menu {
  background: #e6e6e6;
}
#menu-45 .nav-dropdown-sm .link:focus,
#menu-45 .nav-dropdown-sm .link:hover,
#menu-45 .nav-dropdown-sm .dropdown-item:focus,
#menu-45 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-45 .navbar,
#menu-45 .nav-dropdown-sm,
#menu-45 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-45 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-45 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-45 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-45 .bg-color.transparent.opened .link:hover,
#menu-45 .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-45 .link[aria-expanded="true"],
#menu-45 .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#contacts1-4x STRONG {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-4x P {
  color: #000000;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
}



#menu-5s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5s .navbar-caption {
  color: #ffffff;
}
#menu-5s .navbar-toggler {
  color: #000000;
}
#menu-5s .close-icon::before,
#menu-5s .close-icon::after {
  background-color: #000000;
}
#menu-5s .link,
#menu-5s .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-5s .link {
  font-size: 0.85rem;
}
#menu-5s .dropdown-item,
#menu-5s .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-5s .link:hover,
#menu-5s .dropdown-item:hover,
#menu-5s .link:focus,
#menu-5s .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-menu {
  background: #e6e6e6;
}
#menu-5s .nav-dropdown-sm .link:focus,
#menu-5s .nav-dropdown-sm .link:hover,
#menu-5s .nav-dropdown-sm .dropdown-item:focus,
#menu-5s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-5s .navbar,
#menu-5s .nav-dropdown-sm,
#menu-5s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5s .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-5s .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-5s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5s .bg-color.transparent.opened .link:hover,
#menu-5s .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#header3-5w .mbr-section-title,
#header3-5w .mbr-section-subtitle {
  text-align: center;
}
#header3-5w H3 {
  color: #ffffff;
}
#header3-5v .mbr-section-title,
#header3-5v .mbr-section-subtitle {
  text-align: center;
}
#header3-5v H3 {
  color: #ffffff;
}
#contacts1-50 STRONG {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-50 P {
  color: #000000;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
}



#menu-5s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5s .navbar-caption {
  color: #ffffff;
}
#menu-5s .navbar-toggler {
  color: #000000;
}
#menu-5s .close-icon::before,
#menu-5s .close-icon::after {
  background-color: #000000;
}
#menu-5s .link,
#menu-5s .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-5s .link {
  font-size: 0.85rem;
}
#menu-5s .dropdown-item,
#menu-5s .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-5s .link:hover,
#menu-5s .dropdown-item:hover,
#menu-5s .link:focus,
#menu-5s .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-menu {
  background: #e6e6e6;
}
#menu-5s .nav-dropdown-sm .link:focus,
#menu-5s .nav-dropdown-sm .link:hover,
#menu-5s .nav-dropdown-sm .dropdown-item:focus,
#menu-5s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-5s .navbar,
#menu-5s .nav-dropdown-sm,
#menu-5s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5s .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-5s .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-5s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5s .bg-color.transparent.opened .link:hover,
#menu-5s .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#header3-62 .mbr-section-title,
#header3-62 .mbr-section-subtitle {
  text-align: center;
}
#header3-62 H3 {
  color: #ffffff;
}
#header3-5y .mbr-section-title,
#header3-5y .mbr-section-subtitle {
  text-align: center;
}
#header3-5y H3 {
  color: #ffffff;
}
#contacts1-55 STRONG {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-55 P {
  color: #000000;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
}



#menu-5s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5s .navbar-caption {
  color: #ffffff;
}
#menu-5s .navbar-toggler {
  color: #000000;
}
#menu-5s .close-icon::before,
#menu-5s .close-icon::after {
  background-color: #000000;
}
#menu-5s .link,
#menu-5s .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-5s .link {
  font-size: 0.85rem;
}
#menu-5s .dropdown-item,
#menu-5s .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-5s .link:hover,
#menu-5s .dropdown-item:hover,
#menu-5s .link:focus,
#menu-5s .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-menu {
  background: #e6e6e6;
}
#menu-5s .nav-dropdown-sm .link:focus,
#menu-5s .nav-dropdown-sm .link:hover,
#menu-5s .nav-dropdown-sm .dropdown-item:focus,
#menu-5s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-5s .navbar,
#menu-5s .nav-dropdown-sm,
#menu-5s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5s .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-5s .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-5s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5s .bg-color.transparent.opened .link:hover,
#menu-5s .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#header3-63 .mbr-section-title,
#header3-63 .mbr-section-subtitle {
  text-align: center;
}
#header3-63 H3 {
  color: #ffffff;
}
#header3-60 .mbr-section-title,
#header3-60 .mbr-section-subtitle {
  text-align: center;
}
#header3-60 H3 {
  color: #ffffff;
}
#contacts1-58 STRONG {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-58 P {
  color: #000000;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
}



#menu-59 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-59 .navbar-caption {
  color: #ffffff;
}
#menu-59 .navbar-toggler {
  color: #000000;
}
#menu-59 .close-icon::before,
#menu-59 .close-icon::after {
  background-color: #000000;
}
#menu-59 .link,
#menu-59 .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-59 .link {
  font-size: 0.85rem;
}
#menu-59 .dropdown-item,
#menu-59 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-59 .link:hover,
#menu-59 .dropdown-item:hover,
#menu-59 .link:focus,
#menu-59 .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-59 .link[aria-expanded="true"],
#menu-59 .dropdown-menu {
  background: #e6e6e6;
}
#menu-59 .nav-dropdown-sm .link:focus,
#menu-59 .nav-dropdown-sm .link:hover,
#menu-59 .nav-dropdown-sm .dropdown-item:focus,
#menu-59 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-59 .navbar,
#menu-59 .nav-dropdown-sm,
#menu-59 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-59 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-59 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-59 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-59 .bg-color.transparent.opened .link:hover,
#menu-59 .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-59 .link[aria-expanded="true"],
#menu-59 .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#header3-64 .mbr-section-title,
#header3-64 .mbr-section-subtitle {
  text-align: center;
}
#header3-64 H3 {
  color: #ffffff;
}
#header3-65 .mbr-section-title,
#header3-65 .mbr-section-subtitle {
  text-align: center;
}
#header3-65 H3 {
  color: #ffffff;
}
#contacts1-5b STRONG {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-5b P {
  color: #000000;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
}



#menu-5c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5c .navbar-caption {
  color: #ffffff;
}
#menu-5c .navbar-toggler {
  color: #000000;
}
#menu-5c .close-icon::before,
#menu-5c .close-icon::after {
  background-color: #000000;
}
#menu-5c .link,
#menu-5c .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-5c .link {
  font-size: 0.85rem;
}
#menu-5c .dropdown-item,
#menu-5c .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-5c .link:hover,
#menu-5c .dropdown-item:hover,
#menu-5c .link:focus,
#menu-5c .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-5c .link[aria-expanded="true"],
#menu-5c .dropdown-menu {
  background: #e6e6e6;
}
#menu-5c .nav-dropdown-sm .link:focus,
#menu-5c .nav-dropdown-sm .link:hover,
#menu-5c .nav-dropdown-sm .dropdown-item:focus,
#menu-5c .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-5c .navbar,
#menu-5c .nav-dropdown-sm,
#menu-5c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5c .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-5c .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-5c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5c .bg-color.transparent.opened .link:hover,
#menu-5c .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-5c .link[aria-expanded="true"],
#menu-5c .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#header3-66 .mbr-section-title,
#header3-66 .mbr-section-subtitle {
  text-align: center;
}
#header3-66 H3 {
  color: #ffffff;
}
#header3-67 .mbr-section-title,
#header3-67 .mbr-section-subtitle {
  text-align: center;
}
#header3-67 H3 {
  color: #ffffff;
}
#contacts1-5e STRONG {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-5e P {
  color: #000000;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
}



#header3-5l .mbr-section-title,
#header3-5l .mbr-section-subtitle {
  text-align: center;
}
#header3-5l H3 {
  color: #ffffff;
}
#header3-5m .mbr-section-title,
#header3-5m .mbr-section-subtitle {
  text-align: center;
}
#header3-5m H3 {
  color: #ffffff;
}
#menu-5c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5c .navbar-caption {
  color: #ffffff;
}
#menu-5c .navbar-toggler {
  color: #000000;
}
#menu-5c .close-icon::before,
#menu-5c .close-icon::after {
  background-color: #000000;
}
#menu-5c .link,
#menu-5c .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-5c .link {
  font-size: 0.85rem;
}
#menu-5c .dropdown-item,
#menu-5c .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-5c .link:hover,
#menu-5c .dropdown-item:hover,
#menu-5c .link:focus,
#menu-5c .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-5c .link[aria-expanded="true"],
#menu-5c .dropdown-menu {
  background: #e6e6e6;
}
#menu-5c .nav-dropdown-sm .link:focus,
#menu-5c .nav-dropdown-sm .link:hover,
#menu-5c .nav-dropdown-sm .dropdown-item:focus,
#menu-5c .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-5c .navbar,
#menu-5c .nav-dropdown-sm,
#menu-5c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5c .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-5c .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-5c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5c .bg-color.transparent.opened .link:hover,
#menu-5c .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-5c .link[aria-expanded="true"],
#menu-5c .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#header3-5k .mbr-section-title,
#header3-5k .mbr-section-subtitle {
  text-align: center;
}
#header3-5k H3 {
  color: #ffffff;
}
#contacts1-4n STRONG {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-4n P {
  color: #000000;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
}



#menu-5s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5s .navbar-caption {
  color: #ffffff;
}
#menu-5s .navbar-toggler {
  color: #000000;
}
#menu-5s .close-icon::before,
#menu-5s .close-icon::after {
  background-color: #000000;
}
#menu-5s .link,
#menu-5s .dropdown-item {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#menu-5s .link {
  font-size: 0.85rem;
}
#menu-5s .dropdown-item,
#menu-5s .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-5s .link:hover,
#menu-5s .dropdown-item:hover,
#menu-5s .link:focus,
#menu-5s .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-menu {
  background: #e6e6e6;
}
#menu-5s .nav-dropdown-sm .link:focus,
#menu-5s .nav-dropdown-sm .link:hover,
#menu-5s .nav-dropdown-sm .dropdown-item:focus,
#menu-5s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-5s .navbar,
#menu-5s .nav-dropdown-sm,
#menu-5s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5s .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-5s .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-5s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5s .bg-color.transparent.opened .link:hover,
#menu-5s .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#header3-68 .mbr-section-title,
#header3-68 .mbr-section-subtitle {
  text-align: center;
}
#header3-68 H3 {
  color: #ffffff;
}
#header3-69 .mbr-section-title,
#header3-69 .mbr-section-subtitle {
  text-align: center;
}
#header3-69 H3 {
  color: #ffffff;
}
#contacts1-5u STRONG {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-5u P {
  color: #000000;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
}
